.w-75.justify-content-center.position-relative.vh-90
    p.w-100.m-1 diary

    .d-flex.justify-content-between.align-items-center.flex-column.mt-2.h-75.w-100.border.border-black
        table.table.w-100
            thead
                tr.d-flex.border.border-black.border-1.w-100
                    th.diaryMember Дата
                    th.diaryMember Ситуация
                    th.diaryMember Мысль
                    th.diaryMember Эмоция
                    th.diaryMember Сила
        button.d-none.btn.btn-primary(type='button' data-bs-toggle='modal' data-bs-target='#dnevnikModal') add

        form(action="#!/second")
            input(type="submit" value="exit")