section#menu.d-flex.flex-column.m-auto.justify-content-evenly.align-items-center.vh-100.position-relative(ng-controller="SecondaryBlocksCtrl")
    form(action="#!/")
        input(type="submit" value="back")
    .d-flex.w-75.justify-content-evenly.align-items-center
        button.secondaryBlock(ng-repeat="secondaryBlock in secondaryBlocksData"
            type="button"
            ng-click="secondaryBlock.callback()")
            | {{ secondaryBlock.name }}