//section#menu.d-none.m-auto.w-75.justify-content-evenly.flex-column.align-items-center.opacity-0.vh-100.position-relative(ng-controller="SecondaryBlocksCtrl")
section#menu.d-flex.flex-column.m-auto.justify-content-evenly.align-items-center.vh-100.position-relative(ng-controller="SecondaryBlocksCtrl")
    a(type="button"
        href="#!/") back
    .d-flex.w-75.justify-content-evenly.align-items-center
        button.secondaryBlock(ng-repeat="secondaryBlockName in currentSecondaryTab.sBlocks"
            type="button"
            href="#!second")
            | {{ secondaryBlockName }}
        //button.secondaryBlock table
        //button.secondaryBlock dnevnik
    #text-block.d-none.w-75.justify-content-center.position-relative.vh-90
        p.w-100.m-1
            | Первый текстовый блок: Основы когнитивной психотерапии.
            | КПТ - это лучший метод всех времен и народов бла бла *текст*. Вот есть модель, смотрите:
        button.d-none.w-25.justify-content-center.align-items-center.border.position-absolute.bottom-0.exit exit
    #table-block.d-none.w-75.justify-content-center.position-relative.vh-90
        p.w-100.m-1 table
        button.d-none.w-25.justify-content-center.align-items-center.border.position-absolute.bottom-0.exit exit
    #dnevnik-block.d-none.w-75.justify-content-center.position-relative.vh-90
        #dnevnik.d-flex.justify-content-between.align-items-center.flex-column.mt-2.h-75.w-100.border.border-black
            table.table.w-100
                thead
                    tr.d-flex.border.border-black.border-1.w-100
                        th.d-flex.justify-content-center.align-items-center.border.border-black.border-1.w-100 Дата
                        th.d-flex.justify-content-center.align-items-center.border.border-black.border-1.w-100 Ситуация
                        th.d-flex.justify-content-center.align-items-center.border.border-black.border-1.w-100 Мысль
                        th.d-flex.justify-content-center.align-items-center.border.border-black.border-1.w-100 Эмоция
                        th.d-flex.justify-content-center.align-items-center.border.border-black.border-1.w-100 Сила
            button.d-none.btn.btn-primary(type='button' data-bs-toggle='modal' data-bs-target='#dnevnikModal') add
        button.d-none.w-25.justify-content-center.align-items-center.border.position-absolute.bottom-0.exit exit