//ng-view
//<li ng-repeat="phone in phones">
//<b>{{phone.name}}</b>
//<p>Цена: {{phone.price}} $</p>
//<p>Производитель: {{phone.company.name}}</p>
//</li>
section#cards-container.d-flex.justify-content-center.align-items-center.flex-wrap.w-75.m-auto.vh-100(ng-controller="PrimaryBlocksCtrl")
    a.mainBlock(ng-repeat="mainBlock in mainBlocks"
        type="button"
        href="#!second"
        ng-click="mainBlock.callback()")
        | {{ mainBlock.name }}
    //button.mainBlock kpt
    //button.mainBlock 2
    //button.mainBlock 3
    //button.mainBlock 4