
<!--ng-view-->
<!--<li ng-repeat="phone in phones">-->
<!--<b>{{phone.name}}</b>-->
<!--<p>Цена: {{phone.price}} $</p>-->
<!--<p>Производитель: {{phone.company.name}}</p>-->
<!--</li>-->
<section class="d-flex justify-content-center align-items-center flex-wrap w-75 m-auto vh-100" id="cards-container" ng-controller="PrimaryBlocksCtrl"><a class="mainBlock" ng-repeat="mainBlock in mainBlocks" type="button" href="#!second" ng-click="mainBlock.callback()">{{ mainBlock.name }}</a>
  <!--button.mainBlock kpt-->
  <!--button.mainBlock 2-->
  <!--button.mainBlock 3-->
  <!--button.mainBlock 4-->
</section>