doctype html
html(ng-app="PsychoApp")
    head
        meta(charset='UTF-8')
        title Title
        meta(name='viewport' content='width=device-width, initial-scale=1')
        // css
        //// bootstrap
        //link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
        //    rel="stylesheet"
        //    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
        //    crossorigin="anonymous")
        //script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        //    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        //    crossorigin="anonymous")
        //link(rel='stylesheet' href='./css/bootstrap.css') // old
        //script(src='./js/bootstrap.bundle.js') // old
        link(type="text/css" rel='stylesheet' href='/node_modules/bootstrap/dist/css/bootstrap.css')
        script(type="text/javascript" src='/node_modules/bootstrap/dist/js/bootstrap.bundle.js')
        //// my css
        link(type="text/css" rel='stylesheet' href='/public/styles/main.css')

        // angular

        //// network
        //script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js")

        //// min
        //script(type="text/javascript" src="/node_modules/angular/angular.min.js")
        //script(type="text/javascript" src="/node_modules/angular-route/angular-route.min.js")
        //script(type="text/javascript" src="/node_modules/restangular/dist/restangular.min.js")

        //// dev
        script(type="text/javascript" src="/node_modules/angular/angular.js")
        script(type="text/javascript" src="/node_modules/angular-route/angular-route.js")
        script(type="text/javascript" src="/node_modules/underscore/underscore.js")
        script(type="text/javascript" src="/node_modules/restangular/dist/restangular.js")
        script(type="text/javascript" src="/node_modules/angular-ui-bootstrap/dist/ui-bootstrap.js")

        // jquery
        //script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js')
        script(type="text/javascript" src='/node_modules/jquery/dist/jquery.js')

    //body.d-flex.flex-column.align-self-center(ng-controller="MainCtrl")
    body.d-flex.flex-column.align-self-center(ng-controller="MainCtrl")
        ng-include(src="'app/navBar/navBar.html'")
        ng-view

        //include app/startPage/startPage.html
        #dnevnikModal.modal.fade.w-100.m-0(tabindex='-1' aria-labelledby='exampleModalLabel' aria-hidden='true')
            .modal-dialog.modal-dialog-centered.w-75.mw-100
                .modal-content
                    .modal-header
                        h5#exampleModalLabel.modal-title Опишите событие
                        button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                    .modal-body
                        form#newMind.d-flex.w-100.justify-content-evenly.align-items-center
                            .d-flex.flex-column.justify-content-evenly.align-items-center
                                input#date.mb-1(type='date' data-provide='datepicker')
                                input#time(type='time' data-provide='datepicker')
                            input(type='text' placeholder='Ситуация')
                            input(type='text' placeholder='Мысль')
                            input#emotionHelper(list='suggestions' name='suggestion' placeholder='Эмоция' autocomplete='off' pattern='^[a-zA-Z]+$')
                            datalist#suggestions
                            input#myRange.slider(type='range' min='0' max='100' value='50')
                            p
                                | Значение:
                                span#demo
                    .modal-footer
                        button.btn.btn-secondary(type='button' data-bs-dismiss='modal') Закрыть
                        button.btn.btn-primary(type='button' data-bs-dismiss='modal') Сохранить изменения
        template#tableBlock

        // main script
        script(type="module" src='/public/app/index.js')
        script(type="module" src="/public/app/primaryBlocks/PrimaryBlocksCtrl.js")
        script(type="module" src="/public/app/secondaryBlocks/SecondaryBlocksCtrl.js")
